@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
.nav > li{
  font-family: 'Bitcount Grid Double', sans-serif;
  font-size: 32px;
  list-style-type: none;
  float: left;
  width: 20%;
  text-align: center;
}
.nav{
  background-color: skyblue;
  height: 30px;
  padding: 30px;;
}

a{
  text-decoration: none;;
}

i{
  font-size: 40px;
}