/*전체선택자*/
* {
  color: red;
  margin: 0;
  padding: 0;
}

/*태그 선택자*/
h1 {
  text-align: center;
  color: blue;
}

/*아이디 선택자*/
#title {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  background-color: #f0f0f0;
}

/*클래스 선택자*/
/*여러 선택자 동시 적용 가능*/
.color,h3{
  font: size 50px;
  color: green;
}