.parent{
  border: 1px solid red;
  height: 500px;
  display: flex;

  /* justify-content: flex-end; */
  justify-content: space-between;

  /*세로정렬*/
  align-items: center;
}

.child{
  background: yellow;
  width: 50px;
  height: 100px;
}

.parent2{
  width:500px;
  height:500px;
  border: 1px solid red;

  justify-content: center;
}
.child2{
  width:100px;
  height:100px;
  background: skyblue;
}

.parent3{
  border: 1px solid red;
  height: 500px;
  display : flex;
  flex-direction:row-reverse;
}

.child3{
  width:100px;
  height:100px;
  background:pink;
}

.parent4{
  border:1px solid red;
  display:flex;
  flex-wrap:nowrap;
  flex-flow:row nowrap;
}

.parent4>div{
  width: 100px;
  height: 100px;
  background: yellow;
  margin:5px;
}