*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  padding: 20px;
}

.list{
  list-style-type: none;
  display: flex;
}

.list > li{
  padding: 10px;
}

.tab-button{
  padding: 10px;
  color: lightgray;
  cursor: pointer;
}

.selected{
  font-weight: bold;
  color: black;
  border-bottom: 1px solid lightgray;
}

.tab-content{
  padding: 15px;
  display: none;
}

.show{
  display:block;

}